mixin assetsTags
  // assets tags //
  .
    <!--#include virtual="#{$config.site.vite}index.html" -->

  block
  // // assets tags

mixin viteTags
  - const basePath = `http://localhost:${$config.port.vite}${$config.site.vite}`
  script(type="module").
    import RefreshRuntime from '#{basePath}@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  script(type="module", src=`${basePath}@vite/client`)
  link(rel="stylesheet", href=`${basePath}styles/app.sass`)
  script(type="module", src=`${basePath}main.tsx`)


doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    if _.startsWith(process.env.npm_lifecycle_event, 'dev')
      +viteTags
    else
      +assetsTags
  body
    block content